/*
	Magic Menu (c) Chris Wijnia
	github.com/christhebutcher
	width: 260px; 
*/

* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
html,body{
	margin:0;padding:0;
	overflow-x:hidden;
	color:#5e5e5e;
	font-family: 'Nobile', sans-serif;
	line-height:1.85;
	font-size:15px;
}
a {
	text-decoration:none;
	color:inherit;
}
a,button,input[type=button]{
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
h1,h2,h3,h4,h5,h6{
	color:#e74c3c;
	font-weight: 500;
	margin-top:0;
	padding-top:46px;
	line-height:1.3;
}

/* PAGE CHROME */
.page-chrome {
	position:relative;
	width:100%;
	left:0;
	padding:50px 20px 20px;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
@media screen and (min-width:740px){
	.page-chrome {
		padding:50px;
	}
}
.page-menu-active .page-chrome {
	left: 260px;
}
.page-chrome:after {
	position:fixed;
	top:0;right:0;bottom:0;left:0;
	background:rgba(0,0,0,.5);
	display:block;
	content:"";
	opacity:0;
	visibility:hidden;
}
.page-menu-active .page-chrome:after {
	position:fixed;
	top:0;right:0;bottom:0;left:0;
	background:white;
	display:block;
	content:"";
	opacity:.75;
	visibility:visible;
	z-index:1000;
}

/* PAGE NAV */
.page-nav-container {
	position:relative;
	z-index:20000;
}
.page-nav-list-container {
	width: 260px;
	position:fixed;
	top:0;right:auto;bottom:0;left:-260px;
	z-index:100;
	background:#95a5a6;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.page-menu-active .page-nav-list-container {
	left: 0;
}

.page-nav-list{
	margin:0; padding:0;
	list-style:none;
	overflow:auto;
	height:100%;
	color:#fff;
}
.page-nav-list li {
	padding:15px;
}

/* PAGE HEADER */
.page-nav-header {
	background:#ecf0f1;
	position:fixed;
	width:100%;
	left:0;
	padding:10px;
	color:#95a5a6;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;	
}
.page-nav-header button {
	box-shadow:none;border:0;outline:0;padding:0;margin:0;
	background:none;
	line-height:inherit;
	color:inherit;
	font-size:inherit;
	display:inline-block;
	font-weight:700;
	text-transform:uppercase;
	cursor:pointer;
	font-size:14px;
	top:11px;
}
.page-nav-header button .fa {
	font-size:18px;
	position:relative;top:1px;
}
.page-menu-active .page-nav-header {
	left:260px;
}
.page-logo {
	width:150px;
	text-align:center;
	margin:auto;
	font-weight:700;
	color:black;
	font-size:16px;
	display:block;
	color:inherit;
}
.page-logo .fa {
	font-size:18px;
}
.page-nav-toggle {
	position:absolute;
	left:10px;
}
.page-search {
	position:absolute;
	right:10px;
}